* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 80px;
    background-color: rgba(50, 75, 80, 0.5);
}

/*---------------NAV------------ */
ul {
    list-style: none;
}

.current-page {
    opacity: 1 !important;
    color: white !important;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    z-index: 100;
    background-color: #2B2483;
    position: fixed;
    width: 100%;
    top: 0;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    padding: 0px 30px;
    min-height: 80px;
}

.nav {
    transition:  all 0.3s ease-in-out;
}

.nav_list {
    display: flex;
    column-gap: 40px;
}

.nav_link {
    color: #c0c0c0;
    font-weight: bold;
    transition: all 0.8s;
}

.nav_link:hover, .nav_link:focus {
    color: white;
}

.logo {
    opacity: 0.8;
    transition: all 0.8s;
}

.logo:hover {
    opacity: 1;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    height: 2px;
    width: 27px;
    background: #c0c0c0;
    margin: 5px 0px;
    transition: all 0.3s ease-in-out;
}


.nav--open {
    transform: translate(0) !important;
}

.hamburger--open .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}
.hamburger--open .bar:nth-child(2) {
    opacity: 0;
}
.hamburger--open .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.vonal {
    color: white !important;
}

@media (max-width: 630px) {

    .nav {
        position: fixed;
        left: 0;
        top: 80px;
        background-color: #2B2483;
        width: 100%;
        padding: 10px 0px 25px;
        transform: translateX(-100%);
    }
    .vonal {
        display: none !important; 
    }
    .nav_list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav_link {
        font-size: 14px;
    }

    .hamburger {
        display: block;
    }
}



/* -------------TITLE----------- */

.title {
    z-index: 30;
    background-image: url(images/kereszt2.jpg);
    height: 130vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.gap {
    height: 30%;
}
.title-text {
 
    /* border-radius: 5px; */
    background-color: rgba(43, 36, 131, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    padding: 15px;
    margin-left: 5%;
    width: 50%;
    color: white;
    transition: all 0.5s;
}
.center {
    text-align: center;
}
.title-text h1 {
    font-size: 40px;
}
.title-text p {
    font-size: 20px;
    opacity: 0.7;
}

.button {
    text-align: center;
    margin-top: 20px;
}
.button-link {
    opacity: 0.7;
    transition: all 0.5s;
    font-weight: bold;
    padding: 5px;
    /* border-radius: 5px; */
}
.button-link:hover {
    opacity: 1;
    background-color: #008396;
}

/* -----------PROGRAMOK------------ */

.programok {
    background-color: white;
    height: 200px;
    margin: -10% 10%;
    padding: 50px 40px; 

}
.programok h1 {
    opacity: 0.9;
    margin-bottom: 50px;
    text-align: center;
    color: black;
}